.background-container{
    background-color: yellow;
}
h1{
    text-align: center;
}
.card{
    margin: auto;
    border-top-left-radius:25px ;
    border-bottom-right-radius:25px ;
}
.btn{
    background-color:aliceblue ;
    border: 1px solid black;
    height: auto;
    margin-top: 10px;
}